.landing-container {
  background-image: url('../img/Banner Sobis.jpg');  /* Ajusta la ruta */
  background-attachment: fixed;             /* <- esto la hace fija */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  padding: 2rem;
  color: white;
}